<!DOCTYPE html>
<html>
<head>
    <title>RecipeWise</title>
<head>
<body>
    <h1>Welcome to RecipeWise! WIP</h1>

    <form method= "POST">
        <input type="text" name="recipe_name" placeholder="Search for a recipe">
        <button type="submit">Search</button>
    </form>
    
    {% for meal in meals %}
        <div>
            <h3> {{meal["strMeal"]}} </h3>
            <img src="{{meal["strMealThumb"]}}" alt="{{meal["strMeal"]}}" width="200">
            <p> Country: {{meal["strArea"]}} </p>
        </div>
         <hr>
    {% endfor %}    

</body>
</html>



